#header-index{
    background: transparent;
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 170px;
}

#header-list{
    display:flex;
    flex-direction: row;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-right: 120px;
    margin-left: 40px;
}

    #header-list li{
        cursor: pointer;
    }

.logo{
    width: 380px;
  margin-bottom: 20px;
}

.elements-list{
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 2px;

}

#header-icons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    color: white;
}

#header-icons > * {
    transition: transform 0.3s ease;
    cursor: pointer;
}

#header-icons > *:hover {
    transform: scale(1.2);
}

#header-list li {
    transition: transform 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

#header-list li:hover {
    transform: scale(1.2);
}

