.hero-section {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh; /* Garante que a seção ocupe a tela inteira */
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-video {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1; 
    box-shadow: 0 50px 100px rgba(0, 0, 0, 0.3); /* sombra mais suave */
}

.hero-video::after {
    content: '';
    position: absolute;
    inset: 0;
    background: 
        
        linear-gradient(to bottom, rgba(0,0,0,0) 65%, rgba(0,0,0,0.5) 85%, rgba(0,0,0,0.7) 100%);
    z-index: 1;
    pointer-events: none;
}

.hero-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%); 
}


.hero-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 20%;
    z-index: 1000;
    margin-left: 51%;
    color:white
}

.hero-content h1{
    font-family: 'Bree Serif';
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 1px;
    letter-spacing: 2px;
}

#hero-text{
    margin-top: 20px;
    font-size: 19px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 300;
}

