#our-clients {
    background-color: #004d40;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2{
        margin-top: 30px;
        font-family: 'Bree Serif', serif;   
        font-size: 3rem;
        font-weight: bold;
       
    }
}
.slider-container {
    position: relative;
    max-width: 55%;
    max-height: 30%;
    margin: auto;
    overflow: hidden;
}
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
}
img {
    width: 100%;
    height: auto;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 101, 32, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    width: 50px;
    height: 50px;
}
.prev { left: 10px; visibility: visible; }
.next { right: 10px; visibility: visible; }