.who-are-we{
    min-height: 100vh;
    background-color: #015649;
}

.content-we{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;    
}

.content-img-we img{
    width: 620px;
    transition: ease-in-out 0.3s;
}
.content-img-we img:hover{
    transform: scale(1.08);
}

.content-text-we{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    color: white;
}

.title-text-we{
    text-align: center;
    font-size: 30px;
    font-family: 'Bree Serif';
    letter-spacing: 2px;
}

.paragraph-text-we{
    font-size: 23px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 300;
}