*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

 li a{
    color: white;
}


@import './partialsIndex/header';
@import './partialsIndex/heroSection';
@import './partialsIndex/slider';
@import './partialsIndex/benefitsSection';
@import './partialsIndex/whoAreWe';
@import './partialsSignUp/signUp';
@import './partialsIndex/carouselSection';
@import './partialsLogin/login';
@import './partialsScheduling/scheduling';
@import './partialsIndex/products';
@import './partialsIndex/categoriesSection';
@import './partialsFavorites/favorites';
@import './partialsProducts/products';
@import './partialsShopping/shopping';
@import './partialsIndex/promotions';
@import './partialsIndex/ourClients';
@import './partialsIndex/footer';