*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}


@import './partialsIndex/header';
@import './partialsIndex/heroSection';
@import './partialsIndex/slider';
@import './partialsIndex/benefitsSection';
@import './partialsIndex/whoAreWe'
